<% post.post_comments.each do |comment| %>
  <div class="card p-2 mb-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <%= attachment_image_tag comment.user, :profile_image, fallback: "nophoto_thumbnail.png", class: "bd-placeholder-img rounded-circle mr-3", size: "50x50" %>
          <%= link_to comment.user.name, user_path(comment.user), class: "text-secondary" %>
        </div>
        <div class="col-7">
          <%= simple_format comment.comment %>
        </div>
        <div class="col-sm-2">
          <% if comment.user == current_user %>
            <%= link_to "Delete", post_post_comment_path(post_id: post,id: comment.id), method: :delete, remote: true, class: "btn btn-outline-danger btn-sm"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>