<div class="container my-5">
  <div class="row d-flex align-items-center" style="height:600px;">
    <div class="col-md-6">
      <h1 class="py-2 text-center">wanna this!!</h1>
    </div>
    <div class="col-md-6 text-center">
      <%= link_to "Start", new_user_registration_path, class: "btn btn-outline-dark rounded-circle p-5" %>
      <div class=" pt-3">
        <%= link_to "about ' waana this '", "#", class: "text-info"%>
      </div>
    </div>
  </div>
</div>