/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import"bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

#title-hidden,
#profile-text-hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#text-hidden {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.date,
.comment,
.far.fa-trash-alt {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.mypage-nav p + p {
  margin-right: 10px;
}

.message-right,
.message-left {
  width: 50%;
  padding: 0.5em 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.message-right {
  margin: 0 0 15px auto;
  text-align: end;
  color: #fff;
  background: #289497;
}

.message-left {
  margin-bottom: 15px;
  text-align: start;
  color: #000;
  background: #E0E0E0;
  opacity: .6;
}

